body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
}

.fake-submit {
  position: absolute;
  border: 0 !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.tappable {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  position: absolute;
  width: 100%;
  /*height: 100%;*/
  height: inherit;
}

#nav {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  background-size: 1px 44px;
  height: 44px;
  line-height: 44px;
  width: 100%;

  background: -webkit-linear-gradient(top, #fefefe, #ddd);
  background: -moz-linear-gradient(top, #fefefe, #ddd);

  border-bottom: 1px solid #bbb;
}

#nav #left, #nav #right {
  white-space: nowrap;
  padding: 0 10px;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

#nav div#left {
  width: 100%;
}

#nav #main-menu-button {
  display: none;
}

#nav #logo {
  position: absolute;
  text-align: center;
  width: 100%;
}

#pages {
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 160px;
}

.page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.page.active {
  display: block !important;
}

#sidebar {
  position: absolute;
  right: 0;
  width: 160px;
  height: 100%;
  border-left: 1px solid #BBB;
  background: white;
}

#app.not-buffer #sidebar {
  display: none !important;
}

#app.not-buffer #pages {
  right: 0 !important;
}

#app.not-buffer #members-btn {
  /*display: none !important;*/
  visibility: hidden !important;
}

#networks {
  border-bottom: 1px solid #BBB;
}

#networks, #users {
  height: 50%;

  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;
  padding: 0;

  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#networks li, #users ul li {
  list-style: none;
  font-family: sans-serif;
  font-size: 13px;
}

#networks li a.networkInfo {
  display: block;
  border-bottom: 1px solid #bbb;
  background: #EEE;
}

#networks li.active .networkInfo {
  background: #e1e1e1;
}

#networks li a, #users ul li a {
  padding: 6px;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

#networks li a:hover, #users ul li:hover {
  background: #f8f8f8;
}

#networks li ul.bufferList {
  padding: 0;
}

#networks li ul.bufferList li {
  border-bottom: 0;
}

#networks li ul.bufferList li a {
  font-weight: normal;
}

#networks li ul.bufferList li.active {
  background: #f1f1f1;
}

#networks li ul.bufferList li.archived {
  display: none;
}

#users {
  margin: 0;
}

#users ul {
  display: none;
}

#users ul.active {
  display: block !important;
}

#users ul li a {
  font-weight: normal;
  padding-left: 18px;
}

#users ul li.op a {
  background: url('../img/op.png') left center no-repeat;
}

.topic {
  height: 30px;
  background: #EEE;
  border-bottom: 1px solid #BBB;
}

.topic #topic_text {
  padding-top: 6px;
  padding-left: 6px;
  font-size: 14px;
}

.events-outer {
  width: 100%;
  background-color: #f8f8fa;
  font-size: 9pt;
  color: #555;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  position: absolute;
  top: 31px;
  bottom: 32px;
}

.events {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

#buffers div.buffer {
  display: none;
}

#buffers div.buffer.active {
  display: block;
}

.entry {
  background: #fff;
  border-top: 1px solid #bbb;
  width: 100%;

  position: absolute;
  bottom: 0px;
  height: 32px;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 6px;
}

.entry input {
  -webkit-box-shadow: none;
   -moz-box-shadow: none;
  box-shadow: none;

  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}

.buffer .event {
  padding: 2px;
  padding-bottom: 4px;
  margin-bottom: 0px;
  overflow: auto;
}
.buffer .event:nth-child(even) {
  background-color: #e8e8f1;
}
.buffer .event span {
  display: table-cell;
}
.buffer .event .who {
  font-weight: bold;
  width: 110px;
  text-align: right;
  padding-right: 8px;
}
.buffer .event .message {
  font-size: 11pt;
  font-family: sans-serif;
  color: #111;
}
.buffer .event .header {
  padding-left: 118px;
  display: block;
}
.buffer .event .channel {
  display: none;
}
.buffer .event .when {
  display: none;
}

.buffer .event_server_motd .message {
  white-space: pre;
  font-family: monospace;
}

@media only screen and (max-width: 640px) {
  #sidebar:not(.show) {
    display: none;
  }
  #sidebar #networks {
    display: none !important;
  }
  #sidebar #users {
    height: 100%;
  }
  #pages {
    right: 0px;
  }
  #nav #main-menu-button {
    display: block !important;
  }
  #nav #settings-btn {
    display: none !important;
  }
}

@media only screen and (min-width: 640px) {
  #members-btn {
    /*display: none;*/
    visibility: hidden !important;
  }
}

#add-server input[type="text"] {
  margin-bottom: 9px;
}

#page-settings {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;

  background: white;

  box-sizing: border-box;
  -o-box-sizing: border-box;
  -icab-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
 }

 #page-settings ul.nav-tabs {
  padding-top: 10px;
  padding-left: 10px;
 }

 #page-settings #settings-networks {
  padding: 0 10px 10px 10px;
 }

 #page-settings #networks-list {
  padding: 1em 0 0 0;
  margin: 0;
}

#page-settings #networks-list li {
  background: #eee;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

@media only screen and (min-width: 640px) {
  #page-settings #networks-list li {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: center;

    display: box;
    box-orient: horizontal;
    box-align: center;
  }
}

#page-settings #networks-list li .network-info {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}

#page-settings #networks-list li .network-actions {
}

#page-settings #networks-list li .network-name {
  font-weight: bold;
  margin-bottom: 0.5em;
}


input.error, select.error, textarea.error {
  color: #b94a48;
  border-color: #b94a48;
}

input.error:focus, select.error:focus, textarea.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: 0 0 6px #d59392;
     -moz-box-shadow: 0 0 6px #d59392;
          box-shadow: 0 0 6px #d59392;
}

